.DS_Store
*.o
*.swp
._*
source/makefile/brain
*.vtu
*.vtk
*.dat
*.out
*.nii
*.nii.gz
*.tgz
lib/

brain
tools/pi4u_lite/Inference/display_gen
tools/pi4u_lite/Inference/engine_cmaes
tools/pi4u_lite/Inference/engine_tmcmc
tools/pi4u_lite/Inference/propagation_tool
